.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #110e19;  
  color: #fff;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__title {
  margin: 0;
  font-size: 2px;
  margin-left: 5px;
  width: 180px;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar__icon--margin {
  margin-left: 5px;
}

.navbar__button {
  background: linear-gradient(to right, #686dff, #d700de);
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.navbar__button:hover {
  background-color: #e0e0e0;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: row;
    height: auto;
    padding: 20px;
  }

  .navbar__left,
  .navbar__right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .navbar__title {
    font-size: 5px;
    margin-left: 5px !important;
    margin: 0 !important;
    width: 120px !important;
  }

  .navbar__button {
    font-size: 10px;
    padding: 7px 15px;
  }
  .sidebar {
    width: 30% !important;
    height: 550px !important;
    margin-left: 20px !important;
  }
  .homepage {
    width: 80% !important;
    height: 550px !important;
  }
  .sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar__item {
    margin-bottom: 20px;
  }
  .sidebar__button {
    font-size: 16px;
    padding: 10px !important;
    text-align: left !important;
  }

  .sidebar__button span:first-child {
    margin-right: 40px !important;
  }

  .sidebar__button span:last-child {
    margin-left: auto !important;
  }
  .sidebar__button.selected {
    background-color: #e0e0e05f !important;
  }
  .sidebar__button:hover {
    background-color: #e0e0e05f !important;
  }  
  .sidebar__subbutton {
    font-size: 16px;
    padding: 10px !important;
    text-align: left !important;
  }
  .sidebar__subbutton span:first-child {
    margin-right: 40px !important;
  }
  .sidebar__subbutton span:last-child {
    margin-left: auto !important;
  }
  .sidebar__subbutton:hover {
    background-color: #e0e0e05f;
    width: 110px !important;
  }
  .new-project-button {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    padding-left: 20px;
  }
  .card-project {
    background-color:  rgb(87, 83, 83);
    border-radius: 15px;
    width: 100px !important;
    height: 90px;
    position: absolute;
    top: 180px !important;
    left: 30px !important;
    padding: 10px;
    z-index: 2;
  }
  .card {
    margin-top: 20px;
    width: 130px !important;
    height: 90px;
    background-color: #e0e0e0c1 !important;
    border-radius: 15px;
  }
  .upgrade-button{
    width: 122px !important;
    height: 44px !important;
    background: linear-gradient(to right, #686dff, #d700de);
    color: #fff;
    font-size: 12px !important;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-left: 2px !important;
    margin-top: 10px !important;
  }
  .upgrade-heading{
    margin: 0;
    margin-left: 12px !important;
    justify-content: space-between;
    font-size: 18px !important;
    align-items: left !important;
    background-image: linear-gradient(to right, #686dff, #d700de);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .upgrade-range {
    -webkit-appearance: none;
    width: 122px !important;
    height: 8px;
    border-radius: 4px;
    background-color: white;
    outline: none;
  }
  
  .upgrade-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: linear-gradient(to right, #686dff, #d700de);
    cursor: pointer;
  }
  
  .upgrade-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: linear-gradient(to right, #686dff, #d700de);
    cursor: pointer;
  }
  .homepage-heading {
    font-size: 25px;
    color: #e0e0e07e !important;
  }
  .admin__button{
    display: none !important;
  }

  .search-container {
    position: relative;
    display: inline-block;
  }
  .search-bar {
    width: 60px !important;
    font-size: 12px !important;
  }
  .search-icon {
    font-size: 15px !important;
  }
}


.app__content{
  display: flex;
  gap: 20px;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  height: 607px;
  padding: 20px;
  background-color: #251e37;
  margin-left: 32px;
  margin-top: 20px;
  border-radius: 15px;
}
.sidebar.overlay-active {
  position: relative;
}

.sidebar.overlay-active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(183, 165, 165, 0.704) !important;
  z-index: 1;
  pointer-events: none; /* This ensures that the overlay doesn't block mouse events on the content behind it */
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__item {
  margin-bottom: 10px;
}

.sidebar__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
}

.sidebar__button.selected {
  background-color: #e0e0e05f;
}

.sidebar__button:hover {
  background-color: #e0e0e05f;
}

.sidebar__sublist {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__item:hover .sidebar__sublist {
  display: block;
}

.sidebar__subitem {
  margin-bottom: 5px;
}

.sidebar__subbutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
}

.new-project-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  background: linear-gradient(to right, #686dff, #d700de);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  position: relative;
  z-index: 2;
}

.sidebar__subbutton:hover {
  background-color: #e0e0e05f;
}

/* HomePage styles */
.homepage {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 607px;
  padding: 20px;
  background-color: #251e37;
  margin-right: 32px;
  margin-right: 32px;
  margin-top: 20px;
  border-radius: 15px;
}

.homepage-heading {
 color: #e0e0e07e;
}

/* card styles */
.card{
  background-color: #e0e0e0c1;
  border-radius: 15px;
  width: 240px;
  height: 135px;
}
.card-project{
  background-color: rgb(87, 83, 83);
  border-radius: 15px;
  width: 240px;
  height: 90px;
  position: absolute;
  top: 190px;
  left: 44px;
  padding: 10px;
  z-index: 2;
  
}
.upgrade-button{
  background: linear-gradient(to right, #686dff, #d700de);
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  width: 227px;
  margin-left: 6px;
  margin-top: 20px;
}
.upgrade-heading{
  margin: 0;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #686dff, #d700de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.upgrade-range {
  -webkit-appearance: none;
  width: 220px;
  height: 8px;
  border-radius: 4px;
  background-color: white;
  outline: none;
}

.upgrade-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(to right, #686dff, #d700de);
  cursor: pointer;
}

.upgrade-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(to right, #686dff, #d700de);
  cursor: pointer;
}


/* admin styles */
.admin__button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  background: linear-gradient(to right, #686dff, #d700de);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}


.card {
  position: relative;
  z-index: 2;
}

span-name{
  color: #fff;
}


.search-container {
  position: relative;
  display: inline-block;
}
.search-bar {
  width: 300px;
  height: 40px;
  font-size: 16px;
  border-color: black;
  background-color: #e0e0e04a;
  border-radius: 10px;
  padding-right: 2.5rem; /* space for the icon */
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  font-size: 22px;
  transform: translateY(-50%);
  color: #e0e0e0d0
}
.search-bar::placeholder{
  color: #e0e0e0d0;
  font-size: 14px;
}

body.overlay-active {
  position: relative;
}

body.overlay-active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
